.button {
  font-family: var(--font-sans);
  color: var(--dark);
  padding: 10px 24px;
  text-decoration: none;
  display: inline-block;
}

.primary {
  background-color: var(--dark);
  border: 1px solid var(--dark);
  color: #fff;
}

.secondary {
  border: 1px solid var(--dark);
}

.primary-light {
  background-color: #dbd3cb;
  color: var(--dark);
  border: 1px solid #dbd3cb;
}
