.hero {
  background-image: url(/hero_img.jpeg);
  background-size: cover;
  background-position: right;
  min-height: 500px;
  padding-top: 10%;
  padding-bottom: 5%;
  color: var(--light);
}
.textContent {
  max-width: 750px;
}
.eyebrow {
  margin-bottom: 16px;
}
.headline {
  font-size: 3.75rem;
  margin-bottom: 48px;
}
