.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 2rem;
}

.containerNarrow {
  max-width: 670px;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }
  .containerNarrow {
    max-width: 670px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
  .containerNarrow {
    max-width: 670px;
  }
}
