.navbar {
  background-color: var(--light);
  padding: 30px 0;
  z-index: 9999;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuItem {
  font-weight: 300;
  text-decoration: none;
  color: var(--dark);
}

.menuItem:hover {
  text-decoration: underline;
}

.menuItem + .menuItem {
  margin-left: 32px;
}

.ctas {
  display: flex;
  align-items: center;
  gap: 32px;
}

.hamburger {
  display: none;
}
.mobileMenu {
  display: none;
}
.mobileMenuActive {
  display: none;
}

.tel {
  color: var(--dark);
  text-decoration: none;
}
.mobileCtas {
  display: none;
}

@media screen and (max-width: 1200px) {
  .nav {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .hamburger button {
    border: none;
    background-color: transparent;
  }
  .mobileMenu {
    display: none;
    padding-top: 30px;
  }
  .mobileMenu a {
    font-size: 1.5rem;
  }
  .mobileMenuActive {
    display: block;
  }
  .ctas {
    gap: 16px;
  }

  .mobileMenuItem {
    display: block;
    color: var(--dark);
    text-decoration: none;
    text-align: center;
  }
  .mobileMenuItem + .mobileMenuItem {
    margin-top: 32px;
  }

  .mobileNav .menuItem + .mobileNav .menuItem {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .ctas {
    display: none;
  }
  .mobileCtas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
  }
  .mobileCtas a {
    width: 300px;
    text-align: center;
  }

  .mobileCtas a + a {
    margin-top: 16px;
  }
}
