.navbar {
  background-color: var(--light);
  padding: 30px 0;
  z-index: 9999;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuItem {
  font-weight: 300;
  text-decoration: none;
  color: var(--dark);
}

.menuItem:hover {
  text-decoration: underline;
}

.menuItem + .menuItem {
  margin-left: 32px;
}

.ctas {
  display: flex;
  align-items: center;
  gap: 32px;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1200px) {
  .nav {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .hamburger button {
    border: none;
    background-color: transparent;
  }
}

@media screen and (max-width: 768px) {
  .ctas {
    display: none;
  }
}
