.footer {
  border-top: 1px solid #d5d5d5;
  padding: 46px 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col {
  flex: 1;
}

.link {
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  color: var(--dark);
  font-weight: 300;
}

.link + .link {
  padding-left: 16px;
  margin-left: 16px;
  border-left: 1px solid #dbdbdb;
}

.media {
  display: flex;
  justify-content: flex-end;
  gap: 32px;
}
